
.progressbarInner{
   margin-top: 10px;
   padding: 10px;
   gap: 5px;
   display: flex;
   flex-direction: column;

   justify-content: space-between;
   .counterInner{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

}
.count{
   font-weight: 700;
   font-size: 16px;
   line-height: 19.15px;
}
.progressbar{
   height: 12px;
   border-radius: 99px;
   background-color: rgb(51, 4, 158);
   position: relative;
   &Counter{
     
      position: absolute;
      right: 0px;
      top: 15px;
   }
}

